1. Preparar el ambiente de trabajo (1 puntos)<br>
● Importe las librerías básicas para el análisis de datos.<br>
● Importe el módulo linear_model , y las funciones mean_squared_error ,<br>
r2_score y train_test_split .<br>
● Importe la base de datos boston.csv y elimine la columna Unnamed: 0 .<br>
● Obtenga las medidas descriptivas de la base de datos con .describe() .<br>

In [78]:
#importamos las librerías 
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
import seaborn as sns
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=UserWarning)

In [79]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [80]:
#importamos el dataframe
df=pd.read_csv("boston.csv")

In [81]:
df.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [82]:
df = df.drop(columns='Unnamed: 0')

In [83]:
df.sample(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
241,0.10612,30.0,4.93,0,0.428,6.095,65.1,6.3361,6,300,16.6,394.62,12.40,20.1
49,0.21977,0.0,6.91,0,0.448,5.602,62.0,6.0877,3,233,17.9,396.90,16.20,19.4
54,0.01360,75.0,4.00,0,0.410,5.888,47.6,7.3197,3,469,21.1,396.90,14.80,18.9
300,0.04417,70.0,2.24,0,0.400,6.871,47.4,7.8278,5,358,14.8,390.86,6.07,24.8
391,5.29305,0.0,18.10,0,0.700,6.051,82.5,2.1678,24,666,20.2,378.38,18.76,23.2

In [84]:
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

2. Dividir la muestra (1 puntos)<br>
● Genere conjuntos de entrenamiento y pruebas con train_test_split .<br>
● Reserve un 33% de la muestra para el conjunto de pruebas.<br>
● Incluya una semilla pseudoaleatoria a su elección, esto lo puede hacer con el<br>
argumento random_state dentro del método train_test_plit.<br>

In [85]:
# Como el objetivo del ejercicio de captación de talento es desarrollar un modelo predictivo para el
# valor mediano de las casas mediante el entrenamiento de un modelo de regresión lineal, se toma como variable y a medv

In [86]:
y= df['medv']
X= df.drop(columns='medv')

In [87]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1111)

In [88]:
X_train.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
181,0.06888,0.0,2.46,0,0.488,6.144,62.2,2.5979,3,193,17.8,396.90,9.45
92,0.04203,28.0,15.04,0,0.464,6.442,53.6,3.6659,4,270,18.2,395.01,8.16
115,0.17134,0.0,10.01,0,0.547,5.928,88.2,2.4631,6,432,17.8,344.91,15.76
232,0.57529,0.0,6.20,0,0.507,8.337,73.3,3.8384,8,307,17.4,385.91,2.47
59,0.10328,25.0,5.13,0,0.453,5.927,47.2,6.9320,8,284,19.7,396.90,9.22

In [89]:
y_train.head()

181    36.2
92     22.9
115    18.3
232    41.7
59     19.6
Name: medv, dtype: float64

3. Generar modelos (2 puntos)<br>
● Ahora implementaremos dos versiones del modelo lineal:<br>
○ Con intercepto.<br>
○ Sin intercepto.<br>
● Cada versión debe generarse en un nuevo objeto inicializado.<br>
● Posteriormente se deben entrenar los modelos especificando la matriz y vector<br>
de entrenamiento.<br>
● Con los modelos entrenados, genere una predicción de la matriz de pruebas con<br>
el método .predict()<br>

In [90]:
#Con intercepto
#Instanciamos el modelo
lm_1 = linear_model.LinearRegression(fit_intercept=True)
#Entrenamos
lm_1.fit(X_train, y_train)
#Predecimos en  test
#Prediccion de la matriz de prueba
predictions_test_1 = lm_1.predict(X_test)
#predictions_test_1

In [91]:
#Sin intercepto
#Instanciamos el modelo
lm_2 = linear_model.LinearRegression(fit_intercept=False)
#Entrenamos
lm_2.fit(X_train, y_train)
#Predecimos en test
#Prediccion de la matriz de prueba
predictions_test_2 = lm_2.predict(X_test)
#predictions_test_2

4. Obtención de métricas (1 puntos)<br>
● Ahora generaremos una función llamada report_scores que ingrese como<br>
argumentos el vector de datos predichos y el vector de datos por validar.<br>
● La función debe imprimir las métricas del Error Cuadrático Promedio y R2.<br>
● Reporte las métricas para ambos modelos. En base a ello, seleccione el mejor<br>
modelo.<br>

In [92]:
def report_scores(prediction_test, vector):
    #Realizamos métricas 
    mse=mean_squared_error(vector, prediction_test).round(2)
    r2=r2_score(vector, prediction_test).round(2)
    print(f'Error cuadrático medio: ', mse, 'R2: ', r2)

In [93]:
#Modelo con intercepto
report_scores(predictions_test_1, y_test)

Error cuadrático medio:  17.0 R2:  0.69

In [94]:
#Modelo sin intercepto
report_scores(predictions_test_2, y_test)

Error cuadrático medio:  15.32 R2:  0.72

In [19]:
#El mejor modelo es sin intercepto, el cual tiene un error cuadratico medio menor y explica en 0.72 la variabilidad de nuestro
# vector objetivo

5. Refactorización del modelo (1 puntos)<br>
● Genere una función llamada fetch_features que ingrese como argumentos la<br>
base de datos y el nombre del vector objetivo. El nombre del vector debe ser<br>
medv por defecto.<br>
● La función debe retornar una lista con las correlaciones entre cada atributo y el<br>
vector objetivo y su nombre.<br>
● Reporte brevemente cuales son los 6 atributos con una mayor correlación<br>
absoluta con medv (de mayor a menor correlación).<br>

In [95]:
def fetch_features(df, vector='medv'):
        # nombres de las columnas 
        columnas = df.columns
        # array para nombre de la variable
        attr_name = []
        # array para correlación de pearson
        pearson_r = []
        # array para valor absoluto de la correlación
        abs_pearson_r = []
    
        for c in columnas:
        # si la columna no es la dependiente
            if c != vector:
                # adjuntar el nombre de la variable en attr_name
                attr_name.append(c)
                # adjuntar la correlación de pearson
                pearson_r.append(df[c].corr(df[vector]))
                # adjuntar el absoluto de la correlación de pearson
                abs_pearson_r.append(abs(df[c].corr(df[vector])))
            
        # El arrays se transforma en DataFrame
        features = pd.DataFrame({
        'attribute': attr_name,
        'corr':pearson_r,
        'abs_corr':abs_pearson_r
        })
        # Se crea el index con los nombres de las variables
        features = features.set_index('attribute')
        # ordenamos los valores de forma descendiente
        features=features.sort_values(by=['abs_corr'], ascending=False)
        return features

In [96]:
fetch_features(df,'medv')

               corr  abs_corr
attribute
lstat     -0.737663  0.737663
rm         0.695360  0.695360
ptratio   -0.507787  0.507787
indus     -0.483725  0.483725
tax       -0.468536  0.468536
nox       -0.427321  0.427321
crim      -0.388305  0.388305
rad       -0.381626  0.381626
age       -0.376955  0.376955
zn         0.360445  0.360445
black      0.333461  0.333461
dis        0.249929  0.249929
chas       0.175260  0.175260

In [97]:
fetch_features(df) ## Se deja por defecto 'medv'

               corr  abs_corr
attribute
lstat     -0.737663  0.737663
rm         0.695360  0.695360
ptratio   -0.507787  0.507787
indus     -0.483725  0.483725
tax       -0.468536  0.468536
nox       -0.427321  0.427321
crim      -0.388305  0.388305
rad       -0.381626  0.381626
age       -0.376955  0.376955
zn         0.360445  0.360445
black      0.333461  0.333461
dis        0.249929  0.249929
chas       0.175260  0.175260

In [99]:
# En la funcion se deja por defecto el vector objetivo como 'medv', por lo que no es necesario indicarla en la función

#Las 6 mayores correlaciones son:
correc=fetch_features(df)
correc.head(6) #se toman las primeras 6 porque la función está ordenada de forma desendente por asb_corr

               corr  abs_corr
attribute
lstat     -0.737663  0.737663
rm         0.695360  0.695360
ptratio   -0.507787  0.507787
indus     -0.483725  0.483725
tax       -0.468536  0.468536
nox       -0.427321  0.427321

6. Refactorización del modelo predictivo (2 puntos)<br>
● Genere otros conjuntos de entrenamiento y validación en base a una matriz con<br>
los 6 atributos identificados en el ejercicio anterior, y el vector objetivo.<br>
● Entrene un modelo en base al mejor desempeño.<br>
● Reporte las métricas para el nuevo modelo.<br>

In [100]:
var=list(correc.head(6).index)
var

['lstat', 'rm', 'ptratio', 'indus', 'tax', 'nox']

In [101]:
var_6=df.loc[:,var]
var_6

     lstat     rm  ptratio  indus  tax    nox
0     4.98  6.575     15.3   2.31  296  0.538
1     9.14  6.421     17.8   7.07  242  0.469
2     4.03  7.185     17.8   7.07  242  0.469
3     2.94  6.998     18.7   2.18  222  0.458
4     5.33  7.147     18.7   2.18  222  0.458
..     ...    ...      ...    ...  ...    ...
501   9.67  6.593     21.0  11.93  273  0.573
502   9.08  6.120     21.0  11.93  273  0.573
503   5.64  6.976     21.0  11.93  273  0.573
504   6.48  6.794     21.0  11.93  273  0.573
505   7.88  6.030     21.0  11.93  273  0.573

[506 rows x 6 columns]

In [102]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(var_6, y, test_size=0.33, random_state=1111)

In [103]:
#Con intercepto
#Instanciamos el modelo
lm_3 = linear_model.LinearRegression(fit_intercept=True)
#Entrenamos
lm_3.fit(X_train2, y_train2)
#Predecimos en  test
#Prediccion de la matriz de prueba
predictions_test_3 = lm_3.predict(X_test2)
#predictions_test_3

In [104]:
report_scores(predictions_test_3, y_test2)

Error cuadrático medio:  19.54 R2:  0.64

In [105]:
# Si se compara con los modelos del punto 4 este no supera a ninguno de los dos.
#Ahora se realiza un entrenamiento sin intercepto con las mismas variables acotadas

In [106]:
#Son intercepto
#Instanciamos el modelo
lm_4 = linear_model.LinearRegression(fit_intercept=False)
#Entrenamos
lm_4.fit(X_train2, y_train2)
#Predecimos en  test
#Prediccion de la matriz de prueba
predictions_test_4 = lm_4.predict(X_test2)
#predictions_test_4

In [107]:
report_scores(predictions_test_4, y_test2)

Error cuadrático medio:  18.38 R2:  0.66

In [108]:
#El modelo sin intercepto con las 6 variables es mejor que el modelo anterior (con intercepto), el mse es menor y aumenta el R2
#sin embargo ninguno de estos dos modelos superan a los modelos del punto 4. 

#Se puede decir que el modelo lm_2 (con todas las variables y sin intercepto), que tiene Error cuadrático medio:  15.32 y 
# R2:  0.72, es el mejor modelo de los 4

7. Predicción de casos (2 puntos): A continuación se generaron dos arrays que<br>
representan el peor escenario posible (worst_neighbor) y el mejor escenario<br>
posible (best_neighbor). Las variables representan, para cada caso, los valores de<br>
los siguientes atributos (en el mismo orden entregado): 'lstat', 'rm',<br>
'ptratio', 'indus', 'tax', 'nox'.<br>
worst_neighbor = np.array([37.9, 12.6, 3.5, 27.7, 187, 0.87]).reshape(1,-1)<br>
best_neighbor = np.array([1.73, 22, 8.7, 0.46, 711, 0.38]).reshape(1,-1)<br>
● Ingrese los arrays en el modelo entrenado en el ejercicio anterior, y reporte la<br>
predicción entregada por el modelo.<br>

In [109]:
worst_neighbor = np.array([37.9, 12.6, 3.5, 27.7, 187, 0.87]).reshape(1,-1)
best_neighbor = np.array([1.73, 22, 8.7, 0.46, 711, 0.38]).reshape(1,-1)

In [110]:
#Se elije modelo lm_4 al ser el mejor de los dos del punto anterior. 

lm_4.predict(worst_neighbor)

array([57.26418662])

In [111]:
lm_4.predict(best_neighbor)

array([125.6130737])